



@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div>
        @Model.Title
        <br/>
        @Model.Fname
        <br />
        @Model.Lname
        <br />
        @Model.Email
        <br />
        @Model.Password
        <br />
        @Model.DOB
        <br />
        @Model.Address
        <br />
        @Model.Country
        <br />
        @Model.Province
        <br />
        @Model.City
        <br />
        @Model.Company
        <br />
        @Model.Additional_Info ff
        <br />
        @Model.Phone
        <br />
        @Model.Mobile
        <br />
    </div>
</body>
</html>
